name: Auto Commit Bot

on:
  schedule:
    - cron: "0 1 * * *"   # 08:00 WIB
  workflow_dispatch:

jobs:
  auto-commit:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          persist-credentials: true

      - name: Setup Git
        run: |
          git config --global user.name "Suaib777"
          git config --global user.email "suaibmabayo77@gmail.com"

      - name: Update activity log
        run: |
          echo "Run at $(date '+%Y-%m-%d %H:%M:%S')" >> activity.log

      - name: Commit changes
        run: |
          git add .

          if git diff --cached --quiet; then
            echo "No changes to commit"
            exit 0
          fi

          DATE=$(date '+%Y-%m-%d')
          git commit -m "chore: daily auto update $DATE"

      - name: Push changes
        run: |
          git push
